{% load static %}
<aside class="sidebar">
  <a class="sidebar-brand" href="{% url 'dashboard:index' %}">
    <img
      src="{% static 'assets/images/logo.png' %}"
      alt="Intellijobs"
    /> </a
  ><span class="ic-close toggler" type="button"></span>
  <div class="sidebar-list-wrapper">
    <ul class="list sidebar-list scrollable">
      <li class="sidebar-item">
        <a class="sidebar-link {% if active_url == "index" %}active{% endif %}" href="{% url 'dashboard:index' %}"
          >Dashboard</a
        >
      </li>
      {% if user_status == "Organization" and has_org_profile %}
      <li class="sidebar-item">
        <a class="sidebar-link {% if active_url == "organization-profile" %}active{% endif %}" href="{% url 'dashboard:update_org_profile' org_profile.pk %}"
          >Update Profile</a
        >
      </li>
      {% endif %}
      <li class="sidebar-item">
        <a
          class="sidebar-link hasSub"
          data-toggle="collapse"
          href="#jobs"
          role="button"
          aria-expanded="false"
          aria-controls="Products"
          >Jobs</a
        >
        <ul class="list {% if not jobs_url_status %}collapse{% endif %} pl-3 mt-1" id="jobs">
          <li class="sidebar-item">
            <a class="sidebar-link {% if active_url == "job-category" %}active{% endif %}" href="{% url 'dashboard:category_list' %}">Job Category</a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link {% if active_url == "jobs" %}active{% endif %}" href="{% url 'dashboard:jobs_list' %}">Jobs</a>
          </li>
        </ul>
      </li>
      {% if user_status == "Staff" %}
      <li class="sidebar-item">
        <a class="sidebar-link {% if active_url == "verify-organization" %}active{% endif %}" href="{% url 'dashboard:verify_organization_list' %}"
          >Verify Organizations</a
        >
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link {% if active_url == "register-staff" %}active{% endif %}" href="{% url 'dashboard:staff_register_list' %}"
          >Register Staffs</a
        >
      </li>
      {% endif %}
    </ul>
  </div>
</aside>
