{% load static %}
<!DOCTYPE html>
<!DOCTYPE js>
<html lang="en">

<head>
    <title>Organization Profile</title>
    <link href="{% static 'css/1.style.css' %} " rel="stylesheet" />
    <link href="{% static 'css/site/style.css' %}" rel="stylesheet" />
</head>

<body>
    <div class="auth--container">
        <div class="row">
            <div class="col-lg-4 profile-img-col">
                <img src="{% static 'assets/images/landing-bg.jpg' %}" alt="">
            </div>
            <div class="col-lg-8">
                <div class="profile-form-col">
                    <div class="auth--wrapper">
                        <div class="auth--head">
                            <h3 class="mb-1">Organization Profile</h3>
                            <div class="d-flex align-items-center justify-content-between font-14"><span
                                    class="text-gray-500">Register your further details</span>
                                <a class="text-info text-underline-hover" href="" id="orgAddressBtn">Add Address</a>
                                <a class="text-info text-underline-hover d-none" href="" id="orgBackBtn">Back to
                                    Info</a>
                            </div>
                        </div>
                        <form method="post" enctype="multipart/form-data"
                            action="{% url 'users:org_profile_create' user.user_uuid %}">
                            {% csrf_token %}
                            <div class="auth--form">
                                <div class="personal-info">
                                    <div class="form-group">
                                        <label for="name">Organization Name</label>
                                        {{form.name}}
                                    </div>
                                    <div class="form-group">
                                        <label for="mobile_number">Mobile Number</label>
                                        {{form.mobile_number}}
                                    </div>
                                    <div class="form-group">
                                        <label for="phone_number">Phone Number</label>
                                        {{form.phone_number}}
                                    </div>
                                    <div class="form-group">
                                        <label for="picture">Profile Picture</label>
                                        <div class="custom-file">
                                            <input class="custom-file-input" type="file" name="display_picture"
                                                accept="image">
                                            <label class="custom-file-label"></label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="org_description">Organization Description</label>
                                        <textarea class="form-control" name="org_description" cols="35" rows="4"></textarea>
                                    </div>
                                </div>
                                <div class="address-info d-none">
                                    <div class="form-group">
                                        <label for="province">Province</label>
                                        {{form.province}}
                                    </div>
                                    <div class="form-group">
                                        <label for="district">District</label>
                                        {{form.district}}
                                    </div>
                                    <div class="form-group">
                                        <label for="area">Area</label>
                                        {{form.area}}
                                    </div>
                                    <div class="form-group">
                                        <label for="city">City</label>
                                        {{form.city}}
                                    </div>
                                    <div class="form-group">
                                        <label for="description">Other Description</label>
                                        <textarea class="form-control" name="description" cols="35" rows="5"></textarea>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-block btn-primary" type="submit">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'assets/home.js' %} "></script>
    <script src="{% static 'assets/vendors.js' %} "></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.js"></script>
    <script>
        $("#orgAddressBtn").on('click', function (e) {
            e.preventDefault()
            $(".personal-info").addClass('d-none')
            $(".address-info").removeClass('d-none')
            $(this).addClass('d-none')
            $("#orgBackBtn").removeClass('d-none')
        })
        $("#orgBackBtn").on('click', function (e) {
            e.preventDefault()
            $(".personal-info").removeClass('d-none')
            $(".address-info").addClass('d-none')
            $(this).addClass('d-none')
            $("#orgAddressBtn").removeClass('d-none')
        })
    </script>
</body>

</html>