<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Email Template</title>
  </head>
  <body>
    <table
      width="600"
      style="
        font-family: Arial, Helvetica, sans-serif;
        font-size: .925rem;
        color: rgb(51, 51, 51);
      "
    >
      <tr>
        <td style="padding: 32px 48px 30px 48px">
          <img
            src="{% static 'assets/images/logo.png' %}"
            alt="IntelliJobs"
            width="150"
          />
        </td>
      </tr>

      <tr>
        <td style="padding: 0 48px">
          <div style="line-height: 1.375rem">
            An account has been activated with following credentials for the
            access of IntelliJobs Dashboard.
          </div>
        </td>
      </tr>

      <tr>
        <td style="padding: 0 48px 20px 48px">
          <table
            style="
              font-size: .925rem;
              margin-top: 1.5rem;
              padding: 1rem;
              width: 100%;
              background-color: rgb(246, 246, 246);
            "
          >
            <tr>
              <td>
                <div style="font-weight: 600; margin-bottom: 1rem">
                  Login Credentials
                </div>
              </td>
            </tr>
            <tr>
              <td style="width: 35%">
                <table>
                  <tr>
                    <td>Email Address</td>
                  </tr>
                  <tr>
                    <td style="font-weight: 600; padding-bottom: 1rem">
                      {{ email }}
                    </td>
                  </tr>
                </table>
              </td>

              <td>
                <table>
                  <tr>
                    <td>Username</td>
                  </tr>
                  <tr>
                    <td style="font-weight: 600; padding-bottom: 1.5rem">
                      {{ username }}
                    </td>
                  </tr>
                </table>
              </td>

              <td>
                <table>
                  <tr>
                    <td>Password</td>
                  </tr>
                  <tr>
                    <td style="font-weight: 600; padding-bottom: 1.5rem">
                      {{ password }}
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td>
                <div style="font-weight: 600; margin-bottom: 1rem; margin-top: .5rem;">
                  Link to Dashboard:
                  <br></br>
                  <a href="{{url}}" style="color: #0d4bc3">{{url}}</a>
                </div>
              </td>
            </tr>
          </table>
        </td>
      </tr>

      <tr>
        <td style="background-color: #0d4bc3; padding: 1rem 0">
          <table
            style="
              font-size: .925rem;
              color: rgb(255, 255, 255);
              width: 100%;
              text-align: center;
            "
          >
            <tr>
              <td style="padding-bottom: 0.5rem">
                Copyright © 2022. All rights reserved
              </td>
            </tr>
            <tr>
              <td>IntelliJobs</td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
