{% extends 'partials/base.html' %}
{% load static %}
{% block block_title %}
<title>Registered Organization List</title>
{% endblock %}
{% block main_content %}
<div class="container">
  <div class="page-header">
    <h2 class="mb-0">Registered Organizations</h2>
  </div>
  <div class="card">
    <div class="card-body">
      {% for message in messages %}
      <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">
          &times;
        </button>
        <strong>{{ message }}</strong>
      </div>
      {% endfor %}
      <div class="table-responsive">
        <div class="scrollable">
          <table class="table">
            <thead>
              <tr>
                <th>S. No.</th>
                <th>Organization Name</th>
                <th>Status</th>
                <th class="text-right">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for organization in organizations %}
              <tr>
                <td class="cell-num">{{ forloop.counter}}</td>
                <td>{{ organization.name }}</td>
                <td>
                  {% if organization.verification_status == "Verified" %}
                  <span class="badge badge-success">Verified</span>
                  {% elif organization.verification_status == "Pending" %}
                  <span class="badge badge-muted">Pending</span>
                  {% else %}
                  <span class="badge badge-danger">Rejected</span>
                  {% endif %}
                </td>
                <td>
                  <div class="input-group input-action">
                    <a class="btn btn-icon-only action-info"
                      href="{% url 'dashboard:verify_organization' organization.pk %}" data-toggle="tooltip"
                      data-placement="top" title="View">
                      <i class="ic-view"></i>
                    </a>
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock main_content %}