{% extends 'partials/base.html' %}
{% load static %}
{% block main_content %}
<div class="container">
  <div class="page-header">
    <h2 class="mb-0">Applied Candidates</h2>
    <a class="btn btn-sm btn-info btn-icon" href="{% url 'dashboard:jobs_list' %}">
      <span class="ic-arrow-left"></span>Back to Jobs
    </a>
  </div>
  <div class="card section-spacer">
    <div class="card-body">
      <div class="row mt-2">
        <div class="col-lg-12 pl-4 pr-4">
          <div class="form-row mt-lg-0 mt-3 card--white">
            <div class="accordion col-lg" id="profileDetails">
              {% for application in applications %}
              <div class="card--white mb-5">
                <div data-toggle="collapse" data-target="#collapse{{forloop.counter}}" aria-expanded="true" aria-controls="collapse{{forloop.counter}}">
                  <span class="font-16 font-weight-bold">{{application.candidate.get_full_name}}</span>
                  <i class="ic-chevron-down accordion-drop-icon"></i>
                </div>
                <div id="collapse{{forloop.counter}}" aria-labelledby="candidate{{forloop.counter}}" data-parent="#profileDetails">
                  <div class="accordion-card-body font-14">
                    
                    <div class="organization-details">
                      <div class="item">
                        <h6>Candidate Name</h6>
                        <p>{{application.candidate.get_full_name}}</p>
                      </div>
                      <div class="item">
                        <h6>Mobile Number</h6>
                        <p>{{application.candidate.mobile_number}}</p>
                      </div>
                      <div class="item">
                        <h6>Address</h6>
                        <p>{{application.candidate.city}}</p>
                      </div>
                      <div class="item">
                        <h6>Applied Date</h6>
                        <p>{{application.date_created|date:"M d, Y"}}</p>
                      </div>
                      <a class="card card--gray col-md-6 mt-3" href="{{application.cv.cv.url}}" target="_blank">
                        <div class="align-vertical justify-content-center">
                          <h4 class="ic-receipt mr-2"></h4>
                          <p>{{application.cv.file_name}}</p>
                        </div>
                      </a>
                    </div>
                   
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="section-footer">
            <a class="btn btn-outline-gray" href="{% url 'dashboard:jobs_list' %}">Back</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock main_content %}